* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========================================================================================================================================================== */

/* body */

.grid__container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.grid__container-item-1 {
    background-image: url(./images/parchment.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ========================================================================================================================================================== */

/* Footer */

.footer {
    background: linear-gradient( rgb(0, 0, 0), rgb(100, 100, 100));
    grid-area: footer;
    color: white;
    font-size: x-large;
    display: inline-flex;
    justify-content: space-between;
    padding: 2% 2% 0% 2%;
    position: absolute;
    width: 100%;
    bottom: 0;
}

    .avatar2 {
        vertical-align: middle;
        width: 3rem;
        height: auto;
        border-radius: 50%;
    }

    .footer-list {
        display: inline-flex;
        list-style: none;
    }