* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========================================================================================================================================================== */

/* body */

.grid__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.grid__container-item-1 {
    display: flex;
    justify-content: center;
    background: linear-gradient( rgb(85, 67, 46), rgb(100, 100, 100));
}

.desk-image {
    height: 95vh;
}

.carousel_links {
    text-decoration: none;
    color: white;
}

#bio__card {
    height: 20em;
    margin-top: 27em;
    background-image: url(./images/New\ Project\ \(5\)crop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
}

/* ========================================================================================================================================================== */

/* Footer */
.footer-container {
    display: flex;
    justify-content: end;
}

.footer {
    background: linear-gradient( rgb(85, 67, 46), rgb(100, 100, 100));
    color: white;
    font-size: x-large;
    display: inline-flex;
    justify-content: space-between;
    padding: 2% 2% 0% 2%;
    width: 100%;
}

    .avatar1 {
        vertical-align: middle;
        width: 3rem;
        height: auto;
        padding: 0px 5px;
    }

    .footer-list {
        display: inline-flex;
        list-style: none;
    }

/* ========================================================================================================================================================== */

/* @mediaqueries */

@media only screen and (max-width: 1500px) {
    .grid__container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 900px) {
    #bio__card {
        height: 15em;
        margin-top: 15em;
    }
}