* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========================================================================================================================================================== */

/* body */

.grid__container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.grid__container-item-1 {
    background-image: url(./images/New\ Project\ \(4\)crop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.carousel_links {
    text-decoration: none;
    color: white;
}

#bio__card {
    height: 20em;
    margin-top: 27em;
    background-image: url(./images/New\ Project\ \(5\)crop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
}

/* ========================================================================================================================================================== */

/* Footer */

.footer {
    background: linear-gradient( rgb(85, 67, 46), rgb(100, 100, 100));
    color: white;
    font-size: x-large;
    display: inline-flex;
    justify-content: space-between;
    padding: 2% 2% 0% 2%;
    position: absolute;
    width: 100%;
    bottom: 0;
}

    .avatar1 {
        vertical-align: middle;
        width: 3rem;
        height: auto;
        padding: 0px 5px;
    }

    .footer-list {
        display: inline-flex;
        list-style: none;
    }